@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><a href="https://www.shutterstock.com/image-vector/black-white-round-emblem-vintage-train-1841283394">Click here</a>
    for the steam engine train logo.
</p>

<p>
    <a href="https://cdn.pixabay.com/photo/2018/10/19/12/14/train-3758523_1280.jpg">Click here</a>
    for picture of train in woods.
</p>

<p>
    <a href="https://cdn.pixabay.com/photo/2016/10/10/14/44/train-1728537_1280.jpg">Click here</a>
    for picture of train on bridge.
</p>

<p>
    <a href="https://en.wikipedia.org/wiki/Steam_locomotive">Click here</a>
    for more about steam engine history.
</p>

