<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - A03WebApp</title>

  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/A03WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
                    <ul>
                        <li>
                            <a asp-area="" asp-page="/Index">Home</a>
                        </li>
                         <li>
                            <a asp-area="" asp-page="/CRUD">CRUD</a>
                        </li>
                         <li>
                            <a asp-area="" asp-page="/Query">Query</a>
                        </li>
                         <li>
                            <a asp-area="" asp-page="/Privacy">Privacy</a>
                        </li> 
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
            <h1>PROGRAMS : @ViewData["Title"]</h1>
            <br />
            <h2>STUDENT NAME: Gurkomal Singh</h2>
        <main role="main"> 
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2022 - A03WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>