@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome</h1>
<h2>Here is history of steam engine train</h2>

<p>
    A steam locomotive is a rail vehicle that provides the force to move itself and other vehicles by means
    of the expansion of steam. It is fuelled by burning combustible material (usually coal, oil or,
    rarely, wood) to heat water in the locomotive's boiler to the point when it becomes gaseous and its
    volume increases 1,700 times. Functionally, it is a steam engine on wheels.
</p>

<p>
    In most locomotives, the steam is admitted alternately to each end of its cylinders, in which pistons are
    mechanically connected to the locomotive's main wheels. Fuel and water supplies are usually carried with
    the locomotive, either on the locomotive itself or in a tender coupled to it. Variations in this general
    design include electrically-powered boilers, turbines in place of pistons, and using steam generated externally.
</p>

<div style="display:flex; width:25rem;">
    <img src="/img/train.webp" alt="An ancient train through woods">
    <img src="/img/train1.jpeg" alt="A train on a bridge">
</div>
}
