@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br>
<div>
    <img src="/img/Train.jpg" alt="Train" style="width:25rem height:20rem">
    <h4>DESCRIPTION</h4>

     <h5>QUERY</h5>
    <p style="max-width:500px">
        A query is a set of instructions that describes what data to
        retrieve from a given data source (or sources) and what shape
        and organization the returned data should have. A query is
        distinct from the results that it produces.
    </p>
     <p>
        <a href="https://docs.microsoft.com/en-us/dotnet/csharp/linq/query-expression-basics">
        Click here</a> to read more about query.
    </p>

    <h5>CRUD</h5>
    <p>CRUD stands for Create, Read, Update and Delete.</p>
     <p style="max-width:500px">
        These are the four basic functions of persistent storage.
        Also, each letter in the acronym can refer to all functions 
        executed in relational database applications and mapped to
        a standard HTTP method, SQL statement or DDS operation.
    </p>
    <p>
        <a href="https://www.sumologic.com/glossary/crud/">
        Click here</a> to read more about crud.
    </p>
</div>

<div>
    <h4>BUGS</h4>
    <ul>
        <li>No bug at a moment.</li>
    </ul>
</div>

<div>
    <h4>ENTITY RELATIONSHIP DIAGRAM</h4>
    <img src="~/img/A03ERD.png" alt="erd diagram">
</div>

<div>
    <h4>SITE STYLING DECISION</h4>
    <p>The template used to build this site is <a href="https://holidaycss.js.org/">holiday.css</a>.
    </p>
</div>
