<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <!-- Your preferred stylesheet library here -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BasicSetup.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav>

            <ul>

                <li><a asp-area="" asp-page="/Index"><img src="/img/steam-engine-logo.jpeg" alt="An engine logo" title="Go to Home Page" style="width:12rem; height:7rem;"></a></li>
                <li><a asp-area="" asp-page="/Index">Home</a></li>
                <li><a asp-area="" asp-page="/Contact">Contact Us</a></li>
                <li><a asp-area="" asp-page="/Privacy">Privacy</a></li>
                <li><a asp-area="" asp-page="/About">About</a></li>
                <li><a asp-area="" asp-page="/Query">Query</a></li>
            </ul>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
        
    </main>

    <footer>
        <div>
            &copy; 2022 - WebApp - Gurkomal Singh - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Your preferred javascript library here -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>